@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/futura-pt");

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Futura pt", sans-serif;
}

.hero {
  background-image: url("/images/Vector.png");
}
